/* app css stylesheet */

img.photo {
    width: 100%;
}

.postPropertiesContainer {
    width: 100%;
}

@media only screen and (min-width: 401px) {

    img.photo {
        width: 400px;
    }

    .postPropertiesContainer {
        width: 400px;
    }
}

#nameBox {
    border-radius: 0 4px 0 0;
    background: #f5f6ff;
    text-align: left;
    border-bottom: 2px solid #f1f1f1;
    border: 1px solid #f1f1f1;
}

.commentsContainer {
    margin-left: 5px;
    margin-right: 5px;
}

.avatar {
    width: 50px;
    float: left;
    margin: 15px;
    border-radius: 50px;
}

.avatarMini {
    width: 30px;
    float: left;
    margin: 15px;
    margin-left: 0px;
    border-radius: 30px;
}

.postOwnerNameContainer {
    margin: 15px;
}

.name {
    color: rgb(10, 168, 255);
    font-size: 15px;
    margin: 0px;
}

.time {
    font-size: 13px;
    margin: 0px;
}

.clickableItem {
    color: rgb(10, 168, 255);
}

.location {
    color: rgb(10, 168, 255);
    padding-left: 5px;
    font-size: 13px;
    margin: 0px;
}

.hashTag {
    color: rgb(10, 168, 255);
    font-size: 13px;
    text-align: center;
    margin: 0px;
}

.description {
    font-size: 15px;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
}

.commentText {
    font-size: 15px;
    margin: 0px;
}

.postDescriptionContainer {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.feedbackPossibilitiesContainer {

}

.feedbackPossibility {
    font-size: 20px;
    color: black;
    text-align: center;
}

.feedbackPossibilityVote {
    font-size: 20px;
    color: rgb(10, 168, 255);
    text-align: center;
}

.feedbackPossibilitiesCount {
    color: rgb(10, 168, 255);
}
