<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>
            <span>Versu</span>
        </h2>
        <span flex=""></span>


        <md-button class="md-raised" ng-click="login()" ng-hide="isAuthenticated" ng-disabled="isLoadingUser"
                   aria-label="Login">
            Login
        </md-button>

        <md-button class="md-icon-button" aria-label="Log out" ng-click="logout()" ng-hide="!isAuthenticated"
                   ng-disabled="isLoadingUser">
            <md-icon md-svg-icon="img/icon/logout.svg"></md-icon>
        </md-button>


        <md-menu>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="img/icon/dots-vertical.svg"
                         ng-click="openMenu($mdOpenMenu, $event)"></md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button class="md-raised">
                        More info
                    </md-button>
                </md-menu-item>

            </md-menu-content>
        </md-menu>


    </div>
</md-toolbar>


<md-content layout="column" layout-align="space-around center" ng-disabled="!isAuthenticated">

    <!-- Loading post placeholder -->
    <div layout="column" layout-padding layout-align="center center" ng-hide="!isLoadingPost">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        <h4 class=".md-title">Snap a dilemma and let the world decide</h4>
    </div>

    <div layout="column" layout-padding layout-align="center center" ng-hide="!postLoadingError">
        <h3 class=".md-headline">{{postErrorMessage}}</h3>
    </div>


    <div layout-align="space-around center" ng-hide="isLoadingPost || postLoadingError">

        <div ng-hide="!isAuthenticated" layout-align="space-around center" layout="column">

            <img class="avatar" ng-src="{{loggedInUser.profilePhotoURL}}"/>
            <p class="text-info">{{loggedInUser.username}}</p>

        </div>

        <div>

            <md-progress-circular md-mode="indeterminate" ng-hide="!isLoadingUser"></md-progress-circular>

        </div>


        <!-- post container -->
        <div layout="row" layout-align="start start" layout-align-xs="start stretch" layout-xs="column" ng-disabled="!isAuthenticated">

            <!-- post photos -->
            <div layout="column" layout-align="center center">

                <img class="photo" ng-src="{{post.photos[0].path}}"/>

                <img class="photo" ng-show="post.photos.length == 2" ng-src="{{post.photos[1].path}}"/>


                <!-- feedback possibilities -->
                <div class="feedbackPossibilitiesContainer" layout="column" layout-align="center stretch">
                    <div layout="row" layout-align="center end">
                        <md-button ng-click="vote(0)">
                            <p ng-class="(post.myPostFeedback.name == post.feedbackPossibilities[0]) ? 'feedbackPossibilityVote' : 'feedbackPossibility'">
                                {{post.feedbackPossibilities[0]}}
                            </p>
                        </md-button>
                        <md-button class="md-fab md-mini md-primary" aria-label="Voters" ng-click="displayVoters(0)"
                                   ng-hide="post.myPostFeedback == null">
                            {{post.possibilitiesVotesCount[0]}}
                        </md-button>
                    </div>
                    <div layout="row" layout-align="center end">
                        <md-button ng-click="vote(1)">
                            <p ng-class="(post.myPostFeedback.name == post.feedbackPossibilities[1]) ? 'feedbackPossibilityVote' : 'feedbackPossibility'">
                                {{post.feedbackPossibilities[1]}}
                            </p>
                        </md-button>
                        <md-button class="md-fab md-mini md-primary" aria-label="Voters" ng-click="displayVoters(1)"
                                   ng-hide="post.myPostFeedback == null">
                            {{post.possibilitiesVotesCount[1]}}
                        </md-button>
                    </div>
                </div>

            </div>

            <!--right side of post - containing post owner header and comments-->
            <div layout="column" class="postPropertiesContainer">

                <!-- post owner container -->
                <div id="nameBox" layout="row" layout-align="start start">

                    <img class="avatar" ng-src="{{post.owner.profilePhotoURL}}"
                         alt="Avatar">

                    <!-- post owner name and post time + location -->
                    <div class="postOwnerNameContainer" layout="column" layout-align="start start">
                        <p class="name">{{post.owner.username}}</p>

                        <div layout="row" layout-align="start start">
                            <p class="time">{{postTime}}</p>
                            <p class="location"> {{post.location.name}}</p>
                        </div>

                    </div>


                </div>

                <!-- post description container -->
                <div class="postDescriptionContainer" layout="column" layout-align="center center">
                    <p class="hashTag">{{possibiliesHashtag}}</p>
                    <p class="description">{{post.description}}</p>
                </div>

                <md-divider></md-divider>

                <div layout="column" layout-align="center center">
                    <md-button ng-hide="loadingComments || comments.length==0" ng-click="loadMoreComments()">Load more</md-button>

                    <md-progress-circular class="md-hue-2" md-diameter="20px"
                                          ng-hide="!loadingComments"></md-progress-circular>
                </div>

                <!-- comments container -->
                <div layout="column" class="commentsContainer">

                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="comment in comments" ng-click="null">
                            <img ng-src="{{comment.owner.profilePhotoURL}}" class="md-avatar"
                                 alt="{{comment.owner.username}}">
                            <div class="md-list-item-text" layout="column">
                                <h4 style="color: rgb(10, 168, 255);">{{ comment.owner.username }}</h4>
                                <p ng-bind-html="comment.content | emoji"></p>
                                <p>{{ comment.age }}</p>
                            </div>

                            <md-button class="md-icon-button" aria-label="Remove"
                                       ng-show="comment.owner.id == loggedInUser.id" ng-click="removeComment($index)">
                                <md-icon md-svg-icon="img/icon/close-circle.svg"></md-icon>
                            </md-button>

                        </md-list-item>

                    </md-list>


                    <form layout="row" layout-align="end stretch" ng-cloak name="commentForm">

                        <div flex="80" emoji-form>
                            <md-input-container md-no-float="" class="md-block" style="margin: 0px;">
                                    <textarea class="" ng-model="myNewComment.content" placeholder="Type your comment"
                                              name="userComment"
                                              required
                                              minlength="2" maxlength="255">
                                        </textarea>
                            </md-input-container>

                        </div>

                        <div layout="row">
                            <md-button class="md-icon-button" aria-label="Submit"
                                       ng-disabled="commentForm.$invalid" style="margin-right: 0px;"
                                       ng-click="createComment()"
                                       ng-disabled="addingComment"
                            >
                                <md-icon md-svg-icon="img/icon/send.svg" ng-hide="addingComment"></md-icon>

                                <md-progress-circular class="md-hue-2" ng-hide="!addingComment"
                                                      md-diameter="25px">

                                </md-progress-circular>

                            </md-button>

                        </div>

                    </form>


                </div>

            </div>

        </div>


    </div>

</md-content>


<script type="text/ng-template" id="registrationdialog.tmpl.html">
    <md-dialog aria-label="Registration">
        <form ng-cloak name="registrationForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Registration</h2>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">

                    <md-content layout-padding="">
                        <div>

                            <md-input-container class="md-block">
                                <label>Username</label>
                                <input required ng-model="user.username" name="username" minlength="3" maxlength="100">
                                <div ng-messages="registrationForm.username.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                        Your username must be between 3 and 100 characters long.
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Email</label>
                                <input required type="email" name="email" ng-model="user.email"
                                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
                                <div ng-messages="registrationForm.email.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                        Your email must be between 10 and 100 characters long and look like an e-mail
                                        address.
                                    </div>
                                </div>
                            </md-input-container>

                        </div>
                    </md-content>

                </div>


            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button class="md-raised md-warn" ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button class="md-raised md-primary" ng-disabled="registrationForm.$invalid"
                           ng-click="register(user)">
                    Register
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>


<script type="text/ng-template" id="welcomedialog.tmpl.html">
    <md-dialog aria-label="Welcome">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Introduce yourself</h2>
            </div>
        </md-toolbar>

        <form ng-cloak name="welcomeForm">

            <md-dialog-content>
                <div class="md-dialog-content" layout-padding>

                    <md-content layout="column" layout-align="center center">

                        <div>

                            <md-input-container class="md-block">
                                <label>Tell us your name</label>
                                <input required ng-model="username" name="username"
                                       minlength="3" maxlength="100">
                                <div ng-messages="welcomeForm.username.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                        Your username must be between 3 and 100 characters long.
                                    </div>
                                </div>
                            </md-input-container>

                        </div>

                        <div layout="column">

                            <div layout="row" layout-align="center center">
                                <p>or, you have better possibility</p>
                                <md-button class="md-icon-button md-accent" aria-label="Favorite"
                                           ng-click="displayFacebookLoginExplanation()">
                                    <md-icon md-svg-icon="img/icon/help.svg"></md-icon>
                                </md-button>
                            </div>

                            <md-button class="md-raised md-primary" ng-click="continueWithFB()">
                                Login with Facebook
                            </md-button>

                        </div>

                    </md-content>
                </div>

            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button class="md-raised md-primary" ng-disabled="welcomeForm.$invalid"
                           ng-click="continueWithName()">
                    Continue
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>


<script type="text/ng-template" id="votersdialog.tmpl.html">

    <md-dialog aria-label="Voters">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Voters</h2>
            </div>
        </md-toolbar>


        <md-dialog-content>
            <div class="md-dialog-content" layout-padding>

                <md-content style="width: 300px;" layout="column">


                    <md-tabs md-dynamic-height="" md-border-bottom="">
                        <md-tab label="{{poss1Name}} ({{poss1Count}})">
                            <md-content class="md-padding">

                                <div infinite-scroll='votersLeftTabFact.nextPage()'
                                     infinite-scroll-disabled='votersLeftTabFact.busy'
                                     infinite-scroll-distance='1'>
                                    <div layout="row" layout-align="start start"
                                         ng-repeat='item in votersLeftTabFact.items'>
                                        <img class="avatarMini" ng-src="{{item.owner.profilePhotoURL}}"/>
                                        <p>{{item.owner.username}}</p>
                                    </div>
                                    <div layout="row" layout-align="center center" ng-show='votersLeftTabFact.busy'>
                                        <md-progress-circular class="md-hue-2"
                                                              md-diameter="20px"></md-progress-circular>
                                    </div>
                                </div>


                            </md-content>
                        </md-tab>
                        <md-tab label="{{poss2Name}} ({{poss2Count}})">
                            <md-content class="md-padding">

                                <div infinite-scroll='votersRightTabFact.nextPage()'
                                     infinite-scroll-disabled='votersRightTabFact.busy'
                                     infinite-scroll-distance='1'>
                                    <div layout="row" layout-align="start start"
                                         ng-repeat='item in votersRightTabFact.items'>
                                        <img class="avatarMini" ng-src="{{item.owner.profilePhotoURL}}"/>
                                        <p>{{item.owner.username}}</p>
                                    </div>
                                    <div layout-align="center center" ng-show='votersRightTabFact.busy'>
                                        <md-progress-circular class="md-hue-2"
                                                              md-diameter="20px"></md-progress-circular>
                                    </div>
                                </div>


                            </md-content>
                        </md-tab>
                    </md-tabs>


                </md-content>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary"
                       ng-click="cancel()">
                Close
            </md-button>
        </md-dialog-actions>

    </md-dialog>

</script>